{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"proseWrap": "always",
	"htmlWhitespaceSensitivity": "css",
	"plugins": [
		"eslint-plugin-prettier",
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"overrides": []
}